colorama
requests
selenium
websocket-client
icmplib
psutil
dnspython
phonenumbers
pillow
qrcode
beautifulsoup4
whois
pyspeedtest
pycryptodome
pyzipper
requests
pywebcopy
ipwhois
whois
python-whois
phonenumbers
dnspython
requests
websocket-client
aiohttp<3.12
dnspython
pystyle
Pillow
pycryptodome
beautifulsoup4
pysocks
piexif
exifread
mutagen
psutil
qrcode[pil]
discord.py
mnemonic
requests
phonenumbers

